:root {
    --td-theme-color: #5340ff;
    --td-theme-color-2: #35c57d;
    --td-heading-color: #0f0d25;
    --td-cream-bg: #f8f4f2;
    --td-btn-bg: #f4f4f4;
    --td-gray-bg: #f7f3f1;
    --td-border: #eae5e2;
    --td-black: black;
    --td-white: #fff;
    --td-body-color: #767676;
    --td-shadow: 0px 0px 60px 0px rgba(23, 19, 4, 0.08);
    --td-grey-color-2: #f6f6f6;
    --td-grey-color-3: #f6f6f6;
    --td-grey-color-4: #f6f6f6;

}

