@use '../../utils' as *;


.td-header{
    &-area{
        margin: 0 293px;
        background-color: #fff;
    }
    &-transparent{
        left: 0;
        right: 0;
        top: 20px;
        z-index: 999;
        position: absolute;
    }
    &-menu{
        & ul{
            & > li{
                margin: 0 26px;
                list-style: none;
                display: inline-block;
                position: relative;
                &  a{
                    font-size: 16px;
                    font-weight: 500;
                    color: #919191;
                    padding: 27px 0px;
                    position: relative;
                    display: inline-block;
                    transition: all 500ms ease;
                    text-transform: uppercase;
                    &::before{
                        left: 0px;
                        bottom: 0;
                        z-index: 1;
                        right: 0px;
                        content: "";
                        height: 4px;
                        border-radius: 0px;
                        position: absolute;
                        visibility: hidden;
                        transform: scale(0, 1);
                        transform-origin: left center;
                        transition: transform 500ms ease;
                        background-color: var(--td-theme-color);
                        
                    }
                    &:hover{
                        color: var(--td-theme-color);
                        &::before{
                            visibility: visible;
                            transform: scale(1, 1);
                            transform-origin: right center;
                        }
                    }

                }
                &.active{
                    & > a{
                        color: var(--td-theme-color);
                        &::before{
                            bottom: 0;
                            left: 0px;
                            z-index: 1;
                            right: 0px;
                            content: "";
                            height: 4px;
                            position: absolute;
                            border-radius: 0px;
                            visibility: visible;
                            transform: scale(0, 1);
                            transform: scale(1, 1);
                            transform-origin: left center;
                            transition: transform 500ms ease;
                            background-color: var(--td-theme-color);
                        }
                    }
                }

                & .sub-menu{
                    left: 0;
                    opacity: 0;
                    z-index: 99;
                    min-width: 250px;
                    position: absolute;
                    -ms-flex-pack: start;
                    -ms-flex-align: start;
                    -webkit-box-pack: start;
                    -webkit-box-align: start;
                    background-color: #fff;
                    justify-content: flex-start;
                    transform-origin: top center;
                    -webkit-transform: scaleY(0) translateZ(100px);
                    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
                    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease;
                    transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
                    -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 700ms ease;
                    transition: opacity 500ms ease, visibility 500ms ease, transform 700ms ease, -webkit-transform 700ms ease;
                    & li{
                        margin: 0;
                        display: block;
                        text-align: start;
                        & .sub-menu{
                            top: 50%;
                            left: 100%;
                            opacity: 0;
                            transition: .3s;
                            visibility: hidden;
                        }
                        &:hover{
                            & .sub-menu{
                                top: 0;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        & a{
                            display: block;
                            padding: 6px 8px;
                            transition: 0.4s;
                            border-bottom: 1px solid #f1eeee;
                            &::before{
                                content: none;
                            }
                        }

                        &:hover > a{
                            color: #ffff;
                            padding-left: 12px;
                            background-color: var(--td-theme-color);
                        }
                    }
                }

                &:hover{
                    & .sub-menu{
                        opacity: 1;
                        visibility: visible;
                        -webkit-transform: scaleY(1) translateZ(0px);
                        transform: scaleY(1) translateZ(0px);
                    }
                }
            }
        }
    }
    &-cart{
        margin-left: 28px;
        & a{
            & i{
                font-size: 22px;
                color: var( --td-heading-color);
            }
        }
    }
    &-search{
        & button{
            font-size: 20px;
            color: var( --td-heading-color);
        }
    }
}
