@use '../utils' as *;


.w-img{
	& img{
		width: 100%;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}

.fix {
    overflow:hidden
}
.clear{
    clear: both;
}

.z-index-1{
	z-index: 1;
}

.z-index-11{
	z-index: 11;
}

.f-size{
	font-size: 16px;
}
.fs-20{
	font-size: 20px;
}
.fs-30{
	font-size: 30px;
}

.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.td-rot-180{
	transform: rotate(180deg);
	& i{
		margin-top: 7px;
	}
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}

.td-gray-bg{
	background-color: var(--td-gray-bg);
}

.pt-355{
	padding-top: 355px;

}
.pb-245{
	padding-bottom: 260px
}
.pt-120{
	padding-top: 120px;
}
.pb-120{
	padding-bottom: 120px;
}