@use '../utils' as *;

.td-btn{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 45px;
    background: var(--td-theme-color);
    &-lime{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 20px 45px;
        background: var(--td-theme-color-2);
    }
}