@use '../../utils' as *;



.td-featured{
    &-item{
        overflow: hidden;
        text-align: center;
        position: relative;
        &:hover{
            & .td-featured{
                &-img{
                    &::before{
                        transform: translate3d(0px, 0%, 0px);
                    }
                }
                &-icon{
                    & a{
                        color: var(--td-theme-color);
                        z-index: 1;
                        &::after{
                            transform: translate3d(0px, 0%, 0px);
                        }
                    }

                }
                &-body{
                    background-color: var(--td-theme-color);
                    & img{
                        opacity: 1;
                    }
                }
            }
        }

    }
    &-img{
        &::before{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            opacity: 0.8;
            position: absolute;
            transition: all 500ms ease;
            background-color: rgb(20, 0, 52);
            transform: translate3d(0px, 100%, 0px);
        }
    }
    &-icon{
        left: 0;
        top: 33%;
        right: 0;
        color: #fff;
        font-size: 55px;
        position: absolute;
        & a{
            width: 80px;
            height: 80px;
            font-size: 40px;
            line-height: 88px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            display: inline-block;
            background-color: var(--td-theme-color);
            &::after{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                z-index: -1;
                position: absolute;
                transition: all 500ms ease;
                background-color: #fff;
                transform: translate3d(0px, -100%, 0px);
            }
        }
    }
    &-body{
        padding: 20px 0;
        z-index: 11;
        position: relative;
        background-color: var(--td-black);
        & h5{
            font-weight: 600;
            color: var(--td-white);
        }
        & img{
            right: 0;
            bottom: 0;
            left: 7px;
            opacity: 0;
            width: 100%;
        }
    }
}