@use '../../utils' as *;


.td-hero{
    &-area{
        
    }
    &-content{
        & p{
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 5px;
            color: var(--td-theme-color);
        }
    }
    &-title{
        font-size: 90px;
        line-height: 1;
    
        font-family: Arial, sans-serif;
    }
    &-shape{
        &-1{
            top: 200px;
            right: 255px;
        }
        &-2{
            top: 260px;
            right: 200px;
        }
        &-3{
            top: 345px;
            right: 36%;
        }
    }


}
