@use '../../utils' as *;



.td-project{
    &__item{
       &:hover{
        & .td-project__img{
            &::before{
                height: 100%;
                transform: translateY(0%);
            }
        }
        & .td-project{
            &__info{
                & a{
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.1s;
                }
            }
            &__title{
                opacity: 1;
                visibility: visible;
                transform: translateY(0%);
                transition-delay: 0.1s;
            }
        }
       }
    }
    &__img{
        position: relative;
        display: block;
        overflow: hidden;
        z-index: 1;
        &::before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            opacity: 0.6;
            background: linear-gradient( 0deg, rgb(83,64,255) 0%, rgba(83,64,255,0) 100%);
            width: 100%;
            height: 0%;
            transform: translateY(100%);
            transition: all 500ms ease;
            z-index: 1;
        }
    }
    &__info{
        top: 50%;
        left: 0;
        right: 0;
        & .project-icon{
            opacity: 0;
            visibility: hidden;
            transition-delay: 0s;
            transition: all 0.5s ease-in-out;
            border-radius: 50px;
            padding: 17px 14px 10px 14px;
            background-color: var(--td-theme-color-2);
            & i{
                font-size: 20px;
                color: var(--td-white);
            }
        }
    }
    &__title{
        margin-top: 150px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(60%);
        transition-delay: 0s;
        transition: all 0.5s ease-in-out;
        & p{
            color: var(--td-white);
        }
        & h5{
            & a{
                background-color: transparent;
                font-size: 22px;
                color: var(--td-white);
            }
        }
    }
    &__border{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 720px;
            height: 1.3px;
            background-color: rgb(212, 212, 212);
            left: 0;
            right: 0;
            bottom: 1px;
            margin: auto;
        }
        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 230px;
            height: 3px;
            background-color: var(--td-theme-color);
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.Rectangle_803 {
    background-color: rgb(212, 212, 212);
    position: absolute;
    left: 600px;
    top: 3926px;
    width: 720px;
    height: 2px;
    z-index: 462;
  }
  

.td-swiper{
    &-button{
        &-prev, &-next{
            width: 60px;
            height: 60px;
            display: flex;
            text-align: center;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            background-color: var(--td-white);
            transition: all 500ms ease;
            box-shadow: 0px 0px 40px 0px rgba(18, 14, 14, 0.08);
            & i{
                color: var(--td-black);
                font-size: 25px;
            }
            &:hover{
                background-color: var(--td-theme-color);
                & i{
                    color: var(--td-white);
                }
            }
        }
    }
}



  
  .col-hover {
    flex: 1 1 0; /* Ensure equal flex sizing */
    transition: flex 0.3s ease, width 0.3s ease; /* Smooth transition for flex and width */
  }
  
  .col-hover:hover {
    flex: 2 1 0;
  }

  